* {
    margin: 0;
    padding: 0;
}

h2{
    font: 2em bold;
}

.nav-brand {
    width: 1em;
    height: 2em;
}

.sabutton {
    margin: 0.9em;
    cursor: pointer;
    border-radius: 1em;
    border-width: 0.01em;
    background-color: #95b5de;
    width: 1.5em;
    height: 1.5em;
    outline: none;
    font-size: 130%;
    flex-direction: row;
}
.container {
    padding: 3em;
}

.form-group label {
    font-size: 1.5em;
}
button:hover {
    background-color: #3E4360;
    color: white;
}

button:active {
    background-color: #1E1F2E;
}

.field {
    width: 8%;
    border: 0;
    text-align: center;
}

.numContainer {
   width: 100%;
   height: 15em;
   margin: auto;
   padding: 1em;
}

.field1 {
    width: 50%;
    height: 33%;
    float: left;
    padding: 0.3em;
}

.field2 {
    margin-left: 50%;
    height: 33%;
    padding: 0.3em;
}



.fieldtext {
    padding: 1em;
    height: 100%;
    width: 45%;
    float: left;
    text-align: left;
}

.fieldbutton {
    height: 100%;
    margin-left: 45%;
    text-align: left;
    
}

@media (max-width:1000px) {
    .field1 {
        width: 100%;
    }

    .field2 {
        float: right;
        width: 100%;
    }
}

.reiseContainer {
   height: 10em;
}
input[type="radio"] {
    margin-left: 1.5em;
}
#reiseDato {
    width: 45%;
    float: left;
    padding: 1em;
}

#returDato {
    margin-left: 55%;
    padding: 1em;
}

ul.ui-autocomplete.ui-menu {
    width: 50%;
    background-color: white;
    border: 0.01em solid lightgray;
    border-radius: 1em;
    list-style: none;
    margin: auto;
    padding: 1em;
    font-size: 150%;
}

.ui-state-hover, .ui-state-active {
    background-color: #e3e3e3;
}

.ui-helper-hidden-accessible {
    display: none !important;
}

label {
    display: initial;
}

/*avganger.....................................*/

td{
    max-width: 15em;
}

.form-group h2{
    text-align: left;
}

.avgCheckBox {
    border-radius: 1em;
    background-color: white;
    overflow: auto;
    border: 0.12em solid;
}

.avgCheckBox label:hover, .avgCheckBox:hover{
    cursor: pointer;
}

.avgCheckBox label span {
    font-size: 1em;
    font-weight: 400;
    text-align: center;
    padding: 3px 0px;
    display: block;
    border-radius: inherit;
}


.avgCheckBox input:checked + span {
    background-color: #629BC9;
    color: aliceblue;
}

.storknapp {
    color: white;
    background-color: #F94E4E;
    border-radius: 3em;
    padding: 0.5em;
    width: 15em;
    font-size: x-large;
}

/*betaling.....................................*/

.notbold {
    font-weight: normal;
}

.venstre {
    text-align: left;
}

.tr2 {
    border: hidden;
    border-width: 0px 0;
    font-size: medium;
}
